
13_epochs_224a_resampled-epo.fif
13_epochs_224b_resampled-epo.fif
13_epochs_225a_resampled-epo.fif
13_epochs_225b_resampled-epo.fif
13_epochs_231_resampled-epo.fif
13_epochs_233_resampled-epo.fif
13_epochs_a_resampled-epo.fif
13_epochs_b_resampled-epo.fif
13_evoked_224a_LPP_combined-ave.fif
13_evoked_224a_N170_combined-ave.fif
13_evoked_224b_LPP_combined-ave.fif
13_evoked_224b_N170_combined-ave.fif
13_evoked_225a_LPP_combined-ave.fif
13_evoked_225a_N170_combined-ave.fif
13_evoked_225b_LPP_combined-ave.fif
13_evoked_225b_N170_combined-ave.fif
13_evoked_231_LPP_combined-ave.fif
13_evoked_231_N170_combined-ave.fif
13_evoked_233_LPP_combined-ave.fif
13_evoked_233_N170_combined-ave.fif
13_evoked_Angry_LPP_combined-ave.fif
13_evoked_Angry_N170_combined-ave.fif
13_evoked_Happy_LPP_combined-ave.fif
13_evoked_Happy_N170_combined-ave.fif
13_evoked_Neutral_LPP_combined-ave.fif
13_evoked_Neutral_N170_combined-ave.fif
13evoked_Angry_LPP_combined-epo.fif
13evoked_Angry_N170_combined-epo.fif
14_epochs_224a_resampled-epo.fif
14_epochs_224b_resampled-epo.fif
14_epochs_225a_resampled-epo.fif
14_epochs_225b_resampled-epo.fif
14_epochs_231_resampled-epo.fif
14_epochs_233_resampled-epo.fif
14_epochs_a_resampled-epo.fif
14_epochs_b_resampled-epo.fif
14_evoked_224a_LPP_combined-ave.fif
14_evoked_224a_N170_combined-ave.fif
14_evoked_224b_LPP_combined-ave.fif
14_evoked_224b_N170_combined-ave.fif
14_evoked_225a_LPP_combined-ave.fif
14_evoked_225a_N170_combined-ave.fif
14_evoked_225b_LPP_combined-ave.fif
14_evoked_225b_N170_combined-ave.fif
14_evoked_231_LPP_combined-ave.fif
14_evoked_231_N170_combined-ave.fif
14_evoked_233_LPP_combined-ave.fif
14_evoked_233_N170_combined-ave.fif
14_evoked_Angry_LPP_combined-ave.fif
14_evoked_Angry_N170_combined-ave.fif
14_evoked_Happy_LPP_combined-ave.fif
14_evoked_Happy_N170_combined-ave.fif
14_evoked_Neutral_LPP_combined-ave.fif
14_evoked_Neutral_N170_combined-ave.fif
14evoked_Angry_LPP_combined-epo.fif
14evoked_Angry_N170_combined-epo.fif
15_epochs_224a_resampled-epo.fif
15_epochs_224b_resampled-epo.fif
15_epochs_225a_resampled-epo.fif
15_epochs_225b_resampled-epo.fif
15_epochs_231_resampled-epo.fif
15_epochs_233_resampled-epo.fif
15_epochs_a_resampled-epo.fif
15_epochs_b_resampled-epo.fif
15_evoked_224a_LPP_combined-ave.fif
15_evoked_224a_N170_combined-ave.fif
15_evoked_224b_LPP_combined-ave.fif
15_evoked_224b_N170_combined-ave.fif
15_evoked_225a_LPP_combined-ave.fif
15_evoked_225a_N170_combined-ave.fif
15_evoked_225b_LPP_combined-ave.fif
15_evoked_225b_N170_combined-ave.fif
15_evoked_231_LPP_combined-ave.fif
15_evoked_231_N170_combined-ave.fif
15_evoked_233_LPP_combined-ave.fif
15_evoked_233_N170_combined-ave.fif
15_evoked_Angry_LPP_combined-ave.fif
15_evoked_Angry_N170_combined-ave.fif
15_evoked_Happy_LPP_combined-ave.fif
15_evoked_Happy_N170_combined-ave.fif
15_evoked_Neutral_LPP_combined-ave.fif
15_evoked_Neutral_N170_combined-ave.fif
16_epochs_224a_resampled-epo.fif
16_epochs_224b_resampled-epo.fif
16_epochs_225a_resampled-epo.fif
16_epochs_225b_resampled-epo.fif
16_epochs_231_resampled-epo.fif
16_epochs_233_resampled-epo.fif
16_epochs_a_resampled-epo.fif
16_epochs_b_resampled-epo.fif
16_evoked_224a_LPP_combined-ave.fif
16_evoked_224a_N170_combined-ave.fif
16_evoked_224b_LPP_combined-ave.fif
16_evoked_224b_N170_combined-ave.fif
16_evoked_225a_LPP_combined-ave.fif
16_evoked_225a_N170_combined-ave.fif
16_evoked_225b_LPP_combined-ave.fif
16_evoked_225b_N170_combined-ave.fif
16_evoked_231_LPP_combined-ave.fif
16_evoked_231_N170_combined-ave.fif
16_evoked_233_LPP_combined-ave.fif
16_evoked_233_N170_combined-ave.fif
16_evoked_Angry_LPP_combined-ave.fif
16_evoked_Angry_N170_combined-ave.fif
16_evoked_Happy_LPP_combined-ave.fif
16_evoked_Happy_N170_combined-ave.fif
16_evoked_Neutral_LPP_combined-ave.fif
16_evoked_Neutral_N170_combined-ave.fif
17_epochs_224a_resampled-epo.fif
17_epochs_224b_resampled-epo.fif
17_epochs_225a_resampled-epo.fif
17_epochs_225b_resampled-epo.fif
17_epochs_231_resampled-epo.fif
17_epochs_233_resampled-epo.fif
17_epochs_a_resampled-epo.fif
17_epochs_b_resampled-epo.fif
17_evoked_224a_LPP_combined-ave.fif
17_evoked_224a_N170_combined-ave.fif
17_evoked_224b_LPP_combined-ave.fif
17_evoked_224b_N170_combined-ave.fif
17_evoked_225a_LPP_combined-ave.fif
17_evoked_225a_N170_combined-ave.fif
17_evoked_225b_LPP_combined-ave.fif
17_evoked_225b_N170_combined-ave.fif
17_evoked_231_LPP_combined-ave.fif
17_evoked_231_N170_combined-ave.fif
17_evoked_233_LPP_combined-ave.fif
17_evoked_233_N170_combined-ave.fif
17_evoked_Angry_LPP_combined-ave.fif
17_evoked_Angry_N170_combined-ave.fif
17_evoked_Happy_LPP_combined-ave.fif
17_evoked_Happy_N170_combined-ave.fif
17_evoked_Neutral_LPP_combined-ave.fif
17_evoked_Neutral_N170_combined-ave.fif
18_epochs_224a_resampled-epo.fif
18_epochs_224b_resampled-epo.fif
18_epochs_225a_resampled-epo.fif
18_epochs_225b_resampled-epo.fif
18_epochs_231_resampled-epo.fif
18_epochs_233_resampled-epo.fif
18_epochs_a_resampled-epo.fif
18_epochs_b_resampled-epo.fif
18_evoked_224a_LPP_combined-ave.fif
18_evoked_224a_N170_combined-ave.fif
18_evoked_224b_LPP_combined-ave.fif
18_evoked_224b_N170_combined-ave.fif
18_evoked_225a_LPP_combined-ave.fif
18_evoked_225a_N170_combined-ave.fif
18_evoked_225b_LPP_combined-ave.fif
18_evoked_225b_N170_combined-ave.fif
18_evoked_231_LPP_combined-ave.fif
18_evoked_231_N170_combined-ave.fif
18_evoked_233_LPP_combined-ave.fif
18_evoked_233_N170_combined-ave.fif
18_evoked_Angry_LPP_combined-ave.fif
18_evoked_Angry_N170_combined-ave.fif
18_evoked_Happy_LPP_combined-ave.fif
18_evoked_Happy_N170_combined-ave.fif
18_evoked_Neutral_LPP_combined-ave.fif
18_evoked_Neutral_N170_combined-ave.fif
EarlyLPPdata.csv
EPNdata.csv
epochs_224_a-epo.fif
epochs_224_b-epo.fif
epochs_224a_resampled-epo.fif
epochs_224b_resampled-epo.fif
epochs_225_a-epo.fif
epochs_225_b-epo.fif
epochs_225a_resampled-epo.fif
epochs_225b_resampled-epo.fif
epochs_231-epo.fif
epochs_231_resampled-epo.fif
epochs_233-epo.fif
epochs_233_resampled-epo.fif
epochs_a-epo.fif
epochs_a_resampled-epo.fif
epochs_b_resampled-epo.fif
epochs_224a_resampled-epo.fif
epochs_224b_resampled-epo.fif
epochs_225a_resampled-epo.fif
epochs_225b_resampled-epo.fif
epochs_231_resampled-epo.fif
epochs_233_resampled-epo.fif
epochs_a_resampled-epo.fif
epochs_224a_resampled-epo.fif
epochs_224b_resampled-epo.fif
epochs_225a_resampled-epo.fif
epochs_225b_resampled-epo.fif
epochs_231_resampled-epo.fif
epochs_233_resampled-epo.fif
epochs_a_resampled-epo.fif
epochs_224a_resampled-epo.fif
epochs_224b_resampled-epo.fif
epochs_225a_resampled-epo.fif
epochs_225b_resampled-epo.fif
epochs_231_resampled-epo.fif
epochs_233_resampled-epo.fif
epochs_a_resampled-epo.fif
epochs_224a_resampled-epo.fif
epochs_224b_resampled-epo.fif
ERP_social_cond.csv
ERP_social_cond2.csv
evoked_224a_LPP_combined-epo.fif
evoked_224a_N170-epo.fif
evoked_224b_LPP_combined-epo.fif
evoked_224b_N170-epo.fif
evoked_225a_LPP_combined-epo.fif
evoked_225a_N170-epo.fif
evoked_225b_LPP_combined-epo.fif
evoked_225b_N170-epo.fif
evoked_231_LPP_combined-epo.fif
evoked_231_N170-epo.fif
evoked_233_LPP_combined-epo.fif
evoked_233_N170-epo.fif
evoked_Angry_LPP_combined-epo.fif
evoked_Angry_N170-epo.fif
evoked_Angryb_LPP_combined-epo.fif
evoked_Angryb_N170-epo.fif
evoked_Happy_LPP_combined-epo.fif
evoked_Happy_N170-epo.fif
evoked_Happyb_LPP_combined-epo.fif
evoked_Happyb_N170-epo.fif
evoked_Neutral_LPP_combined-epo.fif
evoked_Neutral_N170-epo.fif
evoked_Neutralb_LPP_combined-epo.fif
evoked_Neutralb_N170-epo.fif
LateLPPdata.csv
sj0013a_unshared.bdf
sj0013ab_shared.bdf
sj0013b_unshared.bdf
sj0014a_unshared.bdf
sj0014ab_shared.bdf
sj0014b_unshared.bdf
sj0015a_unshared.bdf
sj0015ab_shared.bdf
sj0015b_unshared.bdf
sj0016a_unshared.bdf
sj0016ab_shared.bdf
sj0016b_unshared.bdf
sj0017a_unshared.bdf
sj0017ab_shared.bdf
sj0017b_unshared.bdf
sj0018a_unshared.bdf
sj0018ab_shared.bdf
sj0018b_unshared.bdf
sj0019a_unshared.bdf
sj0019ab_shared.bdf
sj0019b_unshared.bdf
